//META{"name":"magerlin_dark_horizon","description":"Magerlin Dark Horizon Theme. Based on the Nocturnal theme from Discord Theme Generator","author":"Magerlin","version":"1.0"}*//
@import url("https://codedotspectra.github.io/themes/nocturnal/importCSS/core.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");
/*
 Horizontal Server Listing
*/
@import url("https://discordstyles.github.io/HorizontalServerList/base.css");

:root {
  --HSL-server-icon-size: 40px; /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 20px; /* Spacing between each server icon | DEFAULT: 10px */
  --primary: #673ab7;
  --primaryGradient2: #e040fb;
  --backgroundDark: #181c25;
  --backgroundDarker: #14171f;
  --Chat-Font-Used: "Fira Code", normal;
  --Chat-Font-Size: 16px;
}

/* 
  Global Font
*/
:not([class="hljs"]):not(code) {
  font-family: var(--Chat-Font-Used) !important;
}

.markup:not(code) {
  font-size: var(--Chat-Font-Size) !important;
}

/*
  Custom Styles
*/

.da-speaking,
.en-speaking {
  box-shadow: inset 0 0 0 2px var(--primaryGradient2) !important;
}

.da-numberBadge,
.en-numberBadge {
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--primaryGradient2) 100%
  );
  font-weight: normal;
}

.da-videoGrid,
.da-scrollerInner,
.en-videoGrid,
.en-scrollerInner {
  background-color: var(--backgroundDarker) !important;
}

.da-scroller,
.en-scroller,
.da-unreadMentionsIndicatorBottom,
.en-unreadMentionsIndicatorBottom {
  background-color: var(--backgroundDark);
}

.da-list,
.en-list {
  margin-top: 4px;
}
